# Enable auto-execution of postinstall scripts for specified dependencies (required by pnpm)
only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
